# -------------------------------
# Maven
# -------------------------------
**/target/
# -------------------------------
# Java / build artifacts
# -------------------------------
*.class
*.log

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# -------------------------------
# IDEs
# -------------------------------
# Ignore all IntelliJ IDEA files
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# -------------------------------
# OS-specific
# -------------------------------
# macOS
.DS_Store

# Windows
Thumbs.db

# -------------------------------
# JVM crash logs
# -------------------------------
hs_err_pid*
replay_pid*
